input[type=radio] {
    display:none; 
    margin:10px;
}
 
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    width: 10px;
    height: 30px;
    border-style:solid;
    border-width:1px;
    border-right-color: white;
    border-bottom-color: white;
}

input[type=radio]:hover + label:hover {
  background-color:pink;
}

#blank {
  background-color: white;
  border: none;
  text-align: right;
}

#true {
  background-color: green;
}

#false {
  background-color: red;
}

input[type=radio]:checked + label { 
   background-image: none;
    background-color:#d0d0d0;
}